<div>
    <h1>This is home page</h1>
    <h1>Title: {{vm.title}}</h1>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <h1>Login</h1>
                    <form role="form">
                        <div class="form-groutp">
                            <div class="alert alert-danger" role="alert" ng-show="vm.formError">{{vm.formError}}</div>
                        </div>
                        <div class="form-group">
                             
                            <label for="exampleName">
                                Name
                            </label>
                            <input ng-model='vm.credentials.name' type="text" class="form-control" id="exampleName" />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">
                                Email address
                            </label>
                            <input ng-model='vm.credentials.email' type="email" class="form-control" id="exampleInputEmail1" />
                        </div>
                        <div class="form-group">
                             
                            <label for="exampleInputPassword1">
                                Password
                            </label>
                            <input ng-model='vm.credentials.password' type="password" class="form-control" id="exampleInputPassword1" />
                        </div>
                        <button type="submit" class="btn btn-primary" ng-click=vm.login()>
                            Login
                        </button>
                        <button type="submit" class="btn btn-primary" ng-click=vm.register()>
                            Register
                        </button>
                        
                    </form>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </div>
</div>