<!DOCTYPE html5>
<html ng-app='<%= app_name%>'>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title><%= app_name%></title> 

    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 


    <script src="/node_modules/angular/angular.min.js"></script>
    <script src="/node_modules/angular-resource/angular-resource.min.js"></script>
    <script src="/node_modules/angular-route/angular-route.min.js"></script>

    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- <link rel="stylesheet" href="/node_modules/chart.js/dist/Chart.css"> -->

   <script src="/node_modules/jquery/dist/jquery.min.js"></script>

    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- <script src="/bootstrap/js/ui-bootstrap-tpls-2.5.0.min.js"></script> -->
    
    <script src="/node_modules/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/node_modules/ngstorage/ngStorage.min.js"></script>
  </head>

  <body >
         <navigation-directive>  </navigation-directive>

    <div id="top-container" class="container">
      <div ng-view></div>
    </div>

</body>
  
<!-- 
    <script src="/routes.js"></script>
    <script src="/controllers/client.home.controller.js"></script> -->
    <!-- <script src="/common/filters/addHtmlLineBreaks.filter.js"></script> -->

  <!--   <script src="/common/directives/navigation/client.navigation.directive.js"></script>
    <script src="/common/directives/navigation/client.navigation.controller.js"></script>

    <script src="/common/services/client.authentication.service.js"></script>
    <script src="/controllers/client.authentication.controller.js"></script> -->

    <!-- <script src="/common/factories/sessionStorage.factory.js"></script>
    <script src="/common/factories/localStorage.factory.js"></script> -->

    <script src="<%= app_name%>.min.js"></script>
 

  
</html>


