<div>
    <nav class="navbar navbar-expand-md navbar-dark sticky-top " style="background-color: #696969;">
        <a class="navbar-brand" href="/">
            <%= app_name%>
            <small>
                <%= app_name%> Lives Here</small>
        </a>
        <button id="nav-btn" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDiv" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarDiv">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link btn-outline-secondary" href="/" data-toggle="collapse" data-target=".navbar-collapse.show">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-outline-secondary" href="/page1" data-toggle="collapse" data-target=".navbar-collapse.show">Page1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-outline-secondary" href="/page2" data-toggle="collapse" data-target=".navbar-collapse.show">Page2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-outline-secondary" href="/page3" data-toggle="collapse" data-target=".navbar-collapse.show">page3</a>
                </li>
            </ul>
        </div>
        <li ng-show="vm.isLoggedIn" class="dropdown">
            <button class="button btn btn-secondary dropdown-toggle" data-toggle="dropdown">{{vm.currentUser.name}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <a href="" ng-click="vm.logout()">
                    <li>Logout</li>
                </a>
            </ul>
        </li>
    </nav>
</div>